<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <form action="/edit-festival/{{festival._id}}" method="POST" enctype="multipart/form-data" >
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="text" name="name" value="{{festival.name}}" required/>
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="text" name="city" value="{{festival.city}}"required/>
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="text" name="country" value="{{festival.country}}" required/>
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="number" name="latitude" value="{{festival.latitude}}" />
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="number" name="longitude" value="{{festival.longitude}}" />
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <textarea class="uk-textarea" rows="5" type="text" name="description" required>{{festival.description}}</textarea>
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="date" name="startDate" value="{{calendarSDate}}" required/>
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" type="date" name="endDate" value="{{calendarEDate}}" required/>
            </div>
        </div>

        <div class="uk-margin">
            <div>
                <span>Please select a festival genre</span>
            </div>
            <div class="dropdown example">
                <select name="category" id="category" multiple="" class="ui fluid dropdown" >
                    <option value="">Genres</option>
                    {{#each categories}}
                        <option value="{{categoryName}}">{{categoryName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        {{> upload }}
        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Edit Festival Listing</button>
        </div>
    </form>
</div>