<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table id="fest-table" class="uk-table">
        <caption>
            Festival List
        </caption>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>City</th>
            <th>Country</th>
            <th>Details</th>
        </thead>
        <tbody class="uk-text-left">
                {{#each festivals}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{city}}</td>
                        <td>{{country}}</td>
                        <td class="uk-text-center"><a href="/fest-dtls/{{_id}}" uk-icon="icon: plus"></a></td>
<!--                        <td><a href="/fest-dtls/{{_id}}" class="uk-icon-ellipsis-h"></a></td>-->
                    </tr>
                {{/each}}
        </tbody>
    </table>
</div>
